.list {
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
  align-items: center;
  width: 100%;
  list-style: none;
  flex: 1 0 auto;
}

.header {
  text-align: center;
  color: white;
  flex: 0 0 auto;
}
